<li>
    <div class="comment-user">
        <%= comment.user.name %>
            <br>
            <%= comment.createdAt.toString().substring(4, 21); %>
    </div>
    <div class="comment-content">
        <p>
            <%= comment.content %>
        </p>
        <p>
            <%if(locals.user && comment.user.id==locals.user.id ){%>
                <a href="comments/delete/<%= comment.id %>" class="delete"
                    id="<%= comment.id  %>"><i class="fa-regular fa-trash-can"></i></a>
                <%}%>
        </p>
    </div>
</li>