<li id="comment-<%= comment._id %>" class="comment">
    <div class="comment-user">
        <p>
            <%= comment.user.name %>
                <br>
                <%= comment.createdAt.toString().substring(4, 21); %>
        </p>
        <div class="comment-actions">
            <a href="/likes/toggle/?id=<%=comment._id%>&type=Comment" class="toggle-like-button" data-likes="<%=comment.likes.length%>">
                <%=comment.likes.length%> <i class="fa-regular fa-heart"></i>
            </a>
            
            <%if(locals.user && comment.user._id==locals.user.id ){%>

                <a href="comments/delete/<%= comment._id %>" class="delete-comment" id="<%= comment._id  %>"><i
                        class="fa-regular fa-trash-can"></i></a>
                <%}%>
        </div>
    </div>
    <div class="comment-content">
        <p>
            <%= comment.content %>
        </p>

    </div>
</li>