<link rel="stylesheet" href="/css/home.css">
<% if(locals.user){ %>
    <!-- <div class="aside-left">

    </div> -->


   

    <section class="feed-post">
        <!-- <h2 class="post-heading">Posts</h2> -->
        <form action="posts/create" id="new-post-form" method="POST" class="main-shadow" enctype="multipart/form-data">
            <textarea name="posts" id="posts" cols="70" rows="4" placeholder="Add post.." required></textarea>
            <!-- <input id="postpic" type="file" name="postpic" placeholder="Post picture"> -->
            <button type="submit">Post</button>
        </form>

        <!-- post list -->
        <div class="post-list">
            <% for(post of posts){ %>
                <%- include('_posts'); %>
                    <%}%>
        </div>

    </section>


    <div class="aside-right main-shadow">
        <h1 class="friends-heading">
            Friends
        </h1>

        <ul class="friend-list">
            <%for(users of all_users){%>
         
                <li class="friends">

                    <a href="/users/profile/<%= users.id %>" class="friend-name">
                        <%if(users.avatar){%>
                            <img src="<%= users.avatar %>" alt="<%= users.name %>"
                                style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                            <%}else{%>
                                <img src="/images/profile.png" alt=""
                                    style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                                <%}%>

                                    <span class="white">
                                        <%= users.name %>
                                    </span>

                    </a>

                    <a href="" class="follow">Follow</a>
                </li>

                <%}%>
        </ul>
    </div>
  

    <%}else{%>

        
            <div class="sign-container">


                <h1 class="sign-heading">
                    Welcome to Codeial
                    This is Home page, SignIn to see your posts
                </h1>
            </div>
        
        <%}%>


            <script src="/js/home_post_comments.js"></script>
            <script src="/js/home_posts.js"></script>

            <!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
            <script src="js/toggle_likes.js"></script>
            <script>
                $('.toggle-like-button').each(function () {
                    let self = this;
                    let toggleLike = new ToggleLike(self);
                });
            </script>

