<link rel="stylesheet" href="/css/home.css">
<% if(locals.user){ %>
    <!-- <div class="aside-left">

    </div> -->



    <section class="feed-post">
        <!-- <h2 class="post-heading">Posts</h2> -->
        <form action="posts/create" id="new-post-form" method="POST" class="main-shadow">
            <textarea name="posts" id="posts" cols="70" rows="4" placeholder="Add post.." required></textarea>
            
            <button type="submit">Post</button>
        </form>

        <!-- post list -->
        <div class="post-list">
            <% for(posts of posts){ %>
                <%- include('_posts'); %>
                    <%}%>
        </div>

    </section>




    <div class="aside-right main-shadow">
        <h1 class="friends-heading">
            Friends
        </h1>

        <ul class="friend-list">
            <%for(user of all_users){%>
             
                <li class="friends">
                    <label for="<%= user.id %>">
                        <%if(user.avatar){%>
                        <img src="<%= user.avatar %>" alt="<%= user.name %>" style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                        <%}else{%>
                        <img src="/images/profile.png" alt="" style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                        <%}%>
                        <%= user.name %>
                    </label>
                    <a href="/users/profile/<%= user.id %>" id="<%= user.id %>">View Profile</a>
                </li>
                
                <%}%>
        </ul>
    </div>
    

    <%}else{%>

        <div class="sign-container">


            <h1 class="sign-heading">
                Welcome to Codeial
                This is Home page, SignIn to see your posts
            </h1>
        </div>
        <%}%>
      
        <script src="/js/home_post_comments.js" ></script>
        <script src="js/home_posts.js"></script>
        <script src="js/index.js"></script>