
<link rel="stylesheet" href="<%= locals.assetPath('css/home.css') %>">
<% if(locals.user){ %>
    <!-- <div class="aside-left">

    </div> -->


   

    <section class="feed-post">
        <!-- <h2 class="post-heading">Posts</h2> -->
        <form action="posts/create" id="new-post-form" method="POST" enctype="multipart/form-data" class="main-shadow" >
            <textarea name="posts" id="posts" cols="70" rows="4" placeholder="Add post.." required></textarea>
            <input type="file" name="postpic" id="postpic"  placeholder="Profile picture">
            <input type="submit" value="Post">
        </form>

        <!-- post list -->
        <div class="post-list">
            <% for(post of posts){ %>
                <%- include('_posts') %>
            <%}%>
        </div>

    </section>


    <div class="aside-right">
        <div class="frs  main-shadow">
            <h1 class="friends-heading">
                Friends
            </h1>
    
            <ul class="friend-list">
                <%for(users of all_users){%>
             
                    <%if(locals.user.friendships.includes(users.id)){%>
                        <li class="friends">
    
                            <a href="/users/profile/<%= users.id %>" class="friend-name">
                                <%if(users.avatar){%>
                                    <img src="<%= users.avatar %>" alt="<%= users.name %>"
                                        style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                                    <%}else{%>
                                        <img src="<%=locals.assetPath('images/profile.png')%>" alt=""
                                            style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                                        <%}%>
        
                                            <span class="white">
                                                <%= users.name %>
                                            </span>
        
                            </a>
                           
                           
                                <% if((locals.user.friendships.includes(users.id))){%>
                                    
                                <a href="users/message_friend/<%=users._id%>" class="follow message">Message</a>
                                <%}%>
                               
                        </li>
                        <%}%>
    
                    <%}%>
            </ul>
        </div>
        <div class="frs  main-shadow">
            <h1 class="friends-heading users-heading">
                Users
            </h1>
    
            <ul class="friend-list">
                <%for(users of all_users){%>
             
                    <%if(!(locals.user.friendships.includes(users.id)) && locals.user.id!=users.id){%>
                        <li class="all-users friends">
    
                            <a href="/users/profile/<%= users.id %>" class="friend-name">
                                <%if(users.avatar){%>
                                    <img src="<%= users.avatar %>" alt="<%= users.name %>"
                                        style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                                    <%}else{%>
                                        <img src="<%=locals.assetPath('images/profile.png')%>" alt=""
                                            style="width:40px; height:40px; border-radius:50%; margin: 5px;">
                                        <%}%>
        
                                            <span class="white">
                                                <%= users.name %>
                                            </span>
        
                            </a>
                               
                        </li>
                        <%}%>
    
                    <%}%>
            </ul>
        </div>
    </div>
  

    <%}else{%>

        
            <div class="sign-container">


                <h1 class="sign-heading">
                    Welcome to Codeail
                    This is Home page, SignIn to see your posts
                </h1>
            </div>
        
        <%}%>

            <script src="<%=locals.assetPath('js/home_post_comments.js')%>"></script>
            <script src="<%=locals.assetPath('js/home_posts.js')%>"></script>

            <!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
            <script src="<%=locals.assetPath('js/toggle_likes.js')%>"></script>
           
            <script>
                $('.toggle-like-button').each(function () {
                    let self = this;
                    let toggleLike = new ToggleLike(self);
                });
            </script>

