<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/deb11384cc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>

</head>

<body>
    <%- include('_header'); %>

        <main>
           

            <%- body %>

              
        </main>

        <%- include('_footer'); %>

            <%- script %>

</body>

</html>